<h1>Gracias por tu compra!</h1>
<p>Tu pedido ha sido confirmado.</p>
<p>ID del pedido: {{ticket.code}}</p>
<p>Fecha de compra: {{ticket.purchase_datetime}}</p>
<p>Total de la compra: ${{ticket.amount}}</p>